@import '../common.scss';

.usersContainer {
    display: flex;
    flex-direction: column;
}

.usersTable {
    flex: 0.3;
}

#bootstrap-overrides .usersLine {
    flex: 1;
    vertical-align: middle;
}